<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<h1>Follow a User!</h1>
<div>
    <form action="/addFollower" method="post" enctype="multipart/form-data">
        <input type="text" name="followusername" placeholder="username">
        <input type="submit" value="Follow">

    {% if message %}
        {{ message }}
    {% endif %}

    <h3>Your Followers: </h3>
        {% for follower in myFollowers %}
            {% if follower.followstatus %}
                {{follower.username_follower}}<br/>
            {% endif %}
        {% endfor %}
    <h3>Pending Followers: </h3>
        <h4>User   Accept   Decline</h4>
        {% for follower in myFollowers %}
            {% if follower.followstatus %}
            {% else %}
                {{follower.username_follower  }}
                <input type="checkbox" name="{{loop.index}}A" value="{{follower.username_follower}}">
                <input type="checkbox" name="{{loop.index}}D" value="{{follower.username_follower}}"><br/>
            {% endif %}
        {% endfor %}
    <input type="submit" value="Accept/Decline">
    <h3>Following: </h3>
        {% for user in following %}
            {% if user.followstatus %}
                {{user.username_followed}}
                <input type="checkbox" name="{{loop.index}}U" value="{{user.username_followed}}">
            {% endif %}
        {% endfor %}
    <input type="submit" value="Unfollow">
    <h3>Sent Requests: </h3>
    {% for user in following %}
        {% if user.followstatus %}
        {% else %}
            {{user.username_followed}}
            <input type="checkbox" name="{{loop.index}}F" value="{{user.username_followed}}">
        {% endif %}
    {% endfor %}<br/>
    <input type="submit" value="Cancel Request">
    </form>

    <a href="/">Go back</a>
</div>

</body>
</html>